body {
	margin-bottom: .5em;
	line-height: 1.4em;
	color: black;
}

div.document {
	width: 40em;
	float: right;
}

div.sidebar {
	width: 10em;
	float: left;
	font-size: .9em;
}

div.sidebar h3 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 130%;
	letter-spacing: .1em;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: normal;
}

h1 {
	font-size: 2em;
	line-height: 120%;
	margin-bottom: .8em;
}

div.document pre {
	color: black;
	padding: 1em;
	line-height: 1.1em;
}

span.algo {
	font-variant: small-caps;
}

/** COLORS **/

a { color: #00a; }
a:hover { color: #00f; }
a:active { color: #55f; }

a:visited,
h1, h2, h3, h4, h5, h6 {
	color: #410;
}

div.footer,
div.sidebar li a {
	background-color: #dcb;
}
div.sidebar li a:hover {
	color: #fff;
	background-color: #410;
}

div.document pre {
	border: 1px dashed #410;
	background-color: #eee;
}

div.content .thumb {
	border: 1px solid #410;
	border-width: 1px 0;
	padding: 2px 0;
}

/** FONTS **/

body {
	font-family: "Verdana", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Linux Biolinum Capitals O", "Georgia", "Times New Roman", serif;
}

pre, code {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/** TEXT **/

div.sidebar a {
	text-decoration: none;
}

div.content .thumb,
div.content #toc,
div.footer span { font-size: 0.9em; }

/** SPACING **/

div.header,
div.footer,
div.content {
	margin-left: auto;
	margin-right: auto;
}

div.header {
	width: 40em;
	padding-left: 10em;
}

div.content { width: 50em; }

div.document { position: relative; }

div.content #toc {
	position: absolute;
	top: 0;
	left: 50em;
	width: 20em;
}

div.content #toc ul,
div.content #toc ol {
	padding-left: 0;
}
div.content #toc li li {
	padding-left: 1em;
}

div.content #toc li,
div.sidebar ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

div.sidebar li a {
	display: block;
	margin: 2px 0;
	padding: 1px 4px;
	border-radius: 0 5px;
}

div.footer { width: 48em; margin-top: 2em; padding: 1em 1em; }

.clear,
div.footer { clear: both; }

div.footer span { display: inline; }

/** GIMMICKS **/

ul.external a,
a.external {
	padding-right: 12px;
	background: url(externallink.png) no-repeat right center;
}
