{% extends "parts/base" %}
{% block title %}
	Introduction
{% endblock %}
{% block content %}

<h1>Introduction</h1>

<p>libFirm is a C library implementing the Firm low-level intermediate representation. Firm is used to represent a computer program in order to analyse and transform it. Its main application is compiler construction where we use it to represent, optimize and transform C and Java programs to native machine code.</p>

<p>The most important features of Firm are that it is</p>
<ul>
	<li>low-level which means that the representation of the program is closer to machine code than to the language.</li>
	<li>completely graph based which means that there are no instruction lists or triple code, only data dependence and control flow graphs.</li>
	<li>completely <a href="http://en.wikipedia.org/wiki/Static_single_assignment_form">SSA</a> based which means that the code of the program is always in SSA form.</li>
</ul>
<p>A complete list of Features is also available.</p>

<h1>Overview</h1>
<p>A program (called irp in FirmSpeek) in libFirm consists of three things:</p>

{% endblock %}
